@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
margin: 0;
padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    background: linear-gradient(180deg, rgba(0,0,0.1) 0%, rgba(26,14,1,1) 100%);
    width: 100%;

}

.container{
    width: 1600px;
    margin: auto;
}

header{
    padding: 50px 0;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav{
    float: right;
    width: 50%;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: white;
}

header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 5px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 4px solid #DC7000;
}

header nav ul li.btn a{
    background: #FA9021;
    border-radius: 6px;
    padding: 10px 15px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #DC7000;

}